<!DOCTYPE html>
<html>
    <head>
        <title>NewzSocial</title>
        
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.css" >
        <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" >
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" href="js/select2/select2.css"/>
        <script type="text/javascript">

            var bookmarklet = {};
            var parsedUrls = {};
            var timeOut; 
            var version = "<%= version %>";
            var NewzSocial = NewzSocial = NewzSocial || {};
            NewzSocial.Info = {};
            NewzSocial.Info.browser = {};
            NewzSocial.Info.browser.url = "<%= url %>"; //do a encodeURIComponent after removing querystring
            NewzSocial.Info.browser.title = encodeURIComponent("<%= title %>");
            NewzSocial.Info.og = {};
            NewzSocial.Info.og.url = "<%= og_url %>";
            NewzSocial.Info.og.title = encodeURIComponent("<%= og_title %>");
            NewzSocial.Info.og.locale = encodeURIComponent("<%= og_locale %>");
            NewzSocial.Info.og.site = encodeURIComponent("<%= og_site_name %>");
            NewzSocial.Info.og.description = encodeURIComponent("<%= og_description %>");
            NewzSocial.Info.og.image = encodeURIComponent("<%= og_image %>");
            NewzSocial.Info.imgs = encodeURIComponent("<%= images %>");

        </script>
    </head>
    
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script type="text/javascript" src="js/select2/select2.js"></script>
        <script type="text/javascript" src="js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="js/handlebars.runtime.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/templates.compiled.js"></script>
        <script type="text/javascript" src="js/jquery-cookie.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/less.js"></script>
        <script type="text/javascript" src="js/user.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
        <script type="text/javascript" src="js/activity.js"></script>
        <script type="text/javascript" src="js/pipeit.js"></script>

        <div id="dialog-message" class="version-control-alert hide" title="NewzSocial Bookmarklet">
            <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Hi there! The latest version of bookmarklet has just been released! 
            </p>
            <p>
                Please go to <b><a href="http://node.newzsocial.com/bookmark" target="_blank">http://node.newzsocial.com/bookmark</a></b> to get the latest version!.
            </p>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {

                if ( version == "undefined" || version != 1 ) {

                    $( "#dialog-message" ).show();
                    $( "#dialog-message" ).dialog({
                        modal: true,
                        closeText: "hide",
                        buttons: [{
                            text : "Got it!",
                            click : function() {
                                $( this ).dialog( "close" );
                            }
                        }],
                        close : function ( event, ui ) {
                            init();
                        }
                    });

                    //hard-coded to alter the JQuery UI
                    $(".ui-widget-header > button").hide();
                    $(".ui-dialog-buttonset > button").addClass("btn");
                }
                else init();

            });


/********************* Articles Related Functions *********************/

function init () {

    NewzSocial.Application = {
        name    : "bookmarklet",
        version : "<%= version %>", 
        aToken  : "63a59c9d-ad9b-48b3-8bf6-acb2206f11cc"
    };

    var urlPath = "<%= urlPath %>";
    if(urlPath == "bookmark"){
        bookmarklet = {
            version    : "production",
            appHost    : "business",
            engineHost : "server.newzsocial.com",
            nas        : "betabiz"
        };
    }
    else{
        bookmarklet = {
            version    : "beta",
            appHost    : "betapp",
            engineHost : "beta2.newzstand.com",
            nas        : "betapp"  
        };
    }

    var bookmarklet_version = $.cookie('bookmarklet_version'),
        uToken              = $.cookie('newzsocial_uToken'),
        nz_u                = $.cookie('nz_u'),
        og_url              = NewzSocial.Info.og.url,
        bookmark_url        = NewzSocial.Info.browser.url;

    var first_urls_array = [
        //With "_woqs" means url without query string. Used to remove analytics tracking code, eg: Google utm
        og_url_woqs        = encodeURIComponent(og_url.split("?")[0].split("#")[0]),
        bookmark_url_woqs  = encodeURIComponent(bookmark_url.split("?")[0].split("#")[0])
    ];

    //if "_woqs" failed, use the original urls to find
    var second_urls_array = [encodeURIComponent(og_url),encodeURIComponent(bookmark_url)];  
    //new sorted array, removed duplicate urls, and push into "parsedUrls" global object
    parsedUrls.first = unique(first_urls_array);   
    parsedUrls.second = unique(second_urls_array);
    console.log("the new sorted urls: ",parsedUrls); 
  
    if (bookmarklet_version === undefined) {
        console.log("first time user");
        $.cookie('bookmarklet_version', NewzSocial.Application.version, { expires: 365 });
    }

    if (uToken===undefined) {
        if (nz_u!==undefined) checkForGuestUser(nz_u);
        else signInAsGuest();
    }
    else{
        //if there is newzsocial_uToken, nz_u must also present
        if(uToken == nz_u) checkForGuestUser(uToken);
        else checkForGuestUser(nz_u);  
    }
}

NewzSocial.GetArticle = function ( parsedUrls, uToken ) {
    var articleWasFound = false,
        first_urls      = parsedUrls.first,
        second_urls     = parsedUrls.second;

    getArticleFirst();

    function getArticleFirst (){
        renderNewzSocialMessage("searching");

        var counter            = first_urls.length,
            getArticleResponse = [];

        for( var i = 0; i < first_urls.length; i++ ){
          console.log("Using first GetArticle on url : ", first_urls[i]); 
          NewzSocial.API('GetArticle', 'content', null, uToken,[{'argument': 'url', 'parameter': first_urls[i]}],i,callback);
        }

        function callback ( callNumber, response ) {
            counter--;
            getArticleResponse[callNumber] = response;

            if (counter == 0) {
                for ( var i = 0 ; i < first_urls.length; i++ ) {
                    currentResponse = getArticleResponse[i]; 
            
                    if (currentResponse.data.hits ==1) {    //this "get" is not allowed to have none or multiple returns 
                        NewzSocial.Article = currentResponse.data.articles[0];
                        articleWasFound = true;
                        NewzSocial.Article.update = false;
                        if(NewzSocial.Article.imageUrl)NewzSocial.Article.image = NewzSocial.Article.imageUrl;
                        break;
                    }
                }
                //do a basic search for first search. If fail, do a more detailed second search in specific publication
                if (articleWasFound) {
                    if(NewzSocial.Article.image == "" || NewzSocial.Article.image === undefined || NewzSocial.Article.image == "null" || NewzSocial.Article.imageUrl == "" || NewzSocial.Article.imageUrl === undefined || NewzSocial.Article.imageUrl == "null" ) UpdateImg();
                    else NewzSocial.Article.imgs =[];
                    if(NewzSocial.Article.description == "" || NewzSocial.Article.description === undefined) UpdateDesc();
                    findPublisher(uToken);
                    renderNewzSocialAction(); 
                }else { getArticleSecond(); }
            }
        };
    }   // end of getArticleFirst

    function getArticleSecond () {
        var counter            = second_urls.length,
            getArticleResponse = [];

        for ( var i = 0; i < second_urls.length; i++ ) {
            console.log("Using second GetArticle on url : ", second_urls[i]); 
            NewzSocial.API('GetArticle', 'content', null, uToken,[{'argument': 'url', 'parameter': second_urls[i]}],i,callback);
        }

        function callback ( callNumber, response ) {
            counter--;
            getArticleResponse[callNumber]= response;

            if (counter == 0) {
                for ( var i = 0 ; i < second_urls.length; i++ ) {
                    currentResponse = getArticleResponse[i];

                    if(currentResponse.data.hits!=0){  //this "get" is allowed to have multiple returns, as the orignal url is used 
                        NewzSocial.Article = currentResponse.data.articles[0];
                        articleWasFound = true;
                        NewzSocial.Article.update = false;
                        if(NewzSocial.Article.imageUrl)NewzSocial.Article.image = NewzSocial.Article.imageUrl;
                        break;
                    }
                }
    
                if (articleWasFound){
                    if(NewzSocial.Article.image == "" || NewzSocial.Article.image === undefined || NewzSocial.Article.image == "null" || NewzSocial.Article.imageUrl == "" || NewzSocial.Article.imageUrl === undefined || NewzSocial.Article.imageUrl == "null" ) UpdateImg();
                    else NewzSocial.Article.imgs =[];
                    if(NewzSocial.Article.description == "" || NewzSocial.Article.description === undefined) UpdateDesc();
                    findPublisher(uToken);
                    renderNewzSocialAction();
                }else searchFromLocalStorage();
            }   
        };
    }   // end of getArticleSecond

    function searchFromLocalStorage (){
        var localStorageArticle = {},
            articleStored       = false,
            ogURL               = decodeURIComponent( NewzSocial.Info.og.url ),
            browserURL          = decodeURIComponent( NewzSocial.Info.browser.url );

        if ( localStorage.Article ) {
            localStorageArticle = JSON.parse(localStorage.Article);
            if( localStorageArticle.url == ( ogURL !== "null"?ogURL:browserURL) ) {
                console.log("using localStorage article");
                articleStored = true;
            }
        }

        if ( articleStored ) {
            NewzSocial.Article = localStorageArticle;
            NewzSocial.Article.update = false;
            if(NewzSocial.Article.imageUrl)NewzSocial.Article.image = NewzSocial.Article.imageUrl;
            if(NewzSocial.Article.image == "" || NewzSocial.Article.image === undefined || NewzSocial.Article.image == "null") UpdateImg();
            else NewzSocial.Article.imgs =[];
            if(NewzSocial.Article.description == "" || NewzSocial.Article.description === undefined) UpdateDesc();
            findPublisher(uToken);
            renderNewzSocialAction();
        }
        else {
            console.log("localStorage is empty or different url, begins create article");
           // NewzSocial.CreateArticle();
            copyArticle();
            renderNewzSocialAction();
        }  
    }  // end of searchFromLocalStorage function
}   // end of NewzSocial.GetArticle function

//Finds the publisher of the article
function findPublisher( uToken ) {
    NewzSocial.API('FindPublisher','content',null,uToken,[{'argument': 'url', 'parameter':NewzSocial.Info.browser.url}],0,callback);
    function callback( callNumber, response ) {
        console.log(response.status);
        console.log(response.data);
        if(response.data !== undefined){
            NewzSocial.Article.publisherNames = response.data.name;
            console.log("Publisher found! " + response.data.name);
        }else{
            console.log("Publisher not found!");
        }
    }
}

//Updates the image component of previously indexed articles for display
function UpdateImg(){
     if( NewzSocial.Info.imgs != null || NewzSocial.Info.imgs != ""){
        // array to store the diff image URLs
        var imgs = [];
        // string to contain the string chain of image srcs
        var string = decodeURIComponent(NewzSocial.Info.imgs);
        // splitting the string at every comma - gives the individual 
        imgs = string.split(","); 
    }

    console.log("Update " + NewzSocial.Info.og.image);
    if(NewzSocial.Info.og.image!="null")    
        NewzSocial.Article.image = obtainDisplayImg(decodeURIComponent(NewzSocial.Info.og.image));
    if( imgs.length!=0 )
        NewzSocial.Article.imgs = imgs;
    NewzSocial.Article.update = true;
}

//Updates the desc component of previously indexed articles
function UpdateDesc(){
    if( NewzSocial.Info.og.description != "null" )
        NewzSocial.Article.description = removeQstring(decodeURIComponent(NewzSocial.Info.og.description));
    NewzSocial.Article.update = true;
}

//Gets the relevant article info and puts them into NewzSocial.Article
function copyArticle(){

    findPublisher(NewzSocial.User.uToken);

    if(NewzSocial.Info.imgs != null || NewzSocial.Info.imgs != ""){
        // array to store the diff image URLs
        var imgs = [];
        // string to contain the string chain of image srcs
        var string = decodeURIComponent(NewzSocial.Info.imgs);
        // splitting the string at every comma - gives the individual 
        imgs = string.split(","); 
    }

    console.log(imgs);

    var Article = {
        url         : (NewzSocial.Info.og.url=="null")?NewzSocial.Info.browser.url:decodeURIComponent(NewzSocial.Info.og.url),
        title       : (NewzSocial.Info.og.title=="null")?decodeURIComponent(NewzSocial.Info.browser.title):decodeURIComponent(NewzSocial.Info.og.title),
        image       : (NewzSocial.Info.og.image=="null")?"":obtainDisplayImg(decodeURIComponent(NewzSocial.Info.og.image)),
        description : (NewzSocial.Info.og.description=="null")?"":decodeURIComponent(NewzSocial.Info.og.description),
        imgs        : (imgs.length==0)?[]:imgs
    };

    NewzSocial.Article = Article;
    console.log(NewzSocial.Info.browser.url);
    console.log(Article);
    console.log("end copy");
}

// removeQstring for images
function obtainDisplayImg(url) {
    if ( (url.indexOf('?') > url.indexOf('.jpg')) || (url.indexOf('?') > url.indexOf('.png')) || (url.indexOf('?') > url.indexOf('.gif')) || (url.indexOf('?') > url.indexOf('.img')) )
        return removeQstring(url);
    else return url;    
}

//could be useful to remove query strings
function removeQstring(url){
    var str = url.split('?');
    console.log(str[0]);
    return str[0];
} 

NewzSocial.CreateArticle = function(){

    var uToken = NewzSocial.User.uToken,
        createArticleArgs = {};
        createArticleFormatted = {};

    createArticleArgs = {
        url  : NewzSocial.Article.url,
        title: NewzSocial.Article.title,
        image: NewzSocial.Article.image,
        desc : NewzSocial.Article.description
    };  

    createArticleFormatted = [{'argument': 'url', 'parameter':encodeURIComponent(createArticleArgs.url)},{'argument': 'title', 'parameter':createArticleArgs.title},{'argument': 'description', 'parameter':createArticleArgs.desc},{'argument': 'imageUrl', 'parameter':createArticleArgs.image}];

    NewzSocial.API('CreateArticle', 'content', null, uToken, createArticleFormatted, 0, callback);

    function callback ( callNumber, response ) {
        if ( response.status ) {
            console.log("Adding article to NewzSocial...");
            NewzSocial.Article = response.data;
      
            if(typeof(Storage)!=="undefined"){
                localStorage.Article = JSON.stringify(NewzSocial.Article);
                console.log("article stored in localStorage: ",localStorage);
            }
            else {
                console.log("no local storage");
            }
            checkForNewArticle(NewzSocial.Article);
        }
        else {
            renderNewzSocialMessage("transition");
            displayMessage("Error!","Please Try Again!",1,2000);
        }
    };
    


    function checkForNewArticle ( article ) {
        var time1 = new Date(article.publishedDate),    //Time when article was created
            time2 = new Date(),                         //Current timestamp
            timeUTC1 = Date.parse(time1),
            timeUTC2 = Date.parse(time2);

        if ( (timeUTC2 - timeUTC1) <  300000) {
            console.log("article published time is within 3 minutes ago: Fresh Article");
            NewzSocial.LogData(article);
        }
        else {
            console.log("article published date is more than 3 minutes: Probably already in the system");
        } 
    }// end of checkForNewArticle
}; // end of NewzSocial.CreateArticle function



/************************** Logging New Article Data ********************/

NewzSocial.LogData = function ( article ) {
    var publicationId   = [], 
        publicationName = [],
        publisherId     = [], 
        publisherName   = [],
        pubArray  = [],
        logDetail = {},
        flag      = false;

    firstRequest(article);

    //Get Publication Id from GetArticleFromDB
    function firstRequest ( article ) {
        var firstRequest = $.ajax({
                type: "POST",
                url: 'http://' + bookmarklet.engineHost + '/newz/c/GetArticleFromDB',
                data: {
                    aToken    : NewzSocial.Application.aToken,
                    uToken    : NewzSocial.User.uToken,
                    articleId : article.id
                },
                success : function ( response ) {
                    publicationId = response.data.publicationIds;
                    for ( var i = 0; i < publicationId.length; i++ ){
                        secondRequest(publicationId[i], i);
                    }
                }
        });
    }     

    //GET Publication Name and Publisher Id 
    function secondRequest ( publicationId, i ) {
        var secondRequest = $.ajax({
                type: "POST",
                url: 'http://' + bookmarklet.engineHost + '/newz/c/GetPublication',
                data: {
                    aToken        : NewzSocial.Application.aToken,
                    uToken        : NewzSocial.User.uToken,
                    publicationId : publicationId
                },
                success : function ( response ) {
                    publicationName[i] = response.data.name;
                    publisherId[i] = response.data.publisherId;
                    thirdRequest(publisherId[i], i);
                } 
        });
    }

    //GET Publisher Name 
    function thirdRequest ( publisherId, i ) {
  
        var thirdRequest = $.ajax({
                type: "POST",
                url: 'http://' + bookmarklet.engineHost + '/newz/c/GetPublisher',
                data: {
                    aToken        : NewzSocial.Application.aToken,
                    uToken        : NewzSocial.User.uToken,
                    publisherId   : publisherId
                },
                success : function ( response ) {
                    publisherName[i] = response.data.name;
        
                    var pubDetailsString = publisherName[i] +"(" +publisherId+ ")-" + publicationName[i] + "(" + publicationId[i] +")";
                    pubArray.push(pubDetailsString);
  
                    if(i == publicationId.length -1 ){
                        assignLogData();
                    }
                } 
        });
    }

    function assignLogData () {

        logDetail = {
            "articleId"     : article.id,
            "publicationIds": publicationId,
            "pubDetails"    : pubArray,
            "url"           : article.url,
            "title"         : article.title,
        };

        if(bookmarklet.version == "production") var databaseTable = "production-bookmarklet";  
        else var databaseTable = "bookmarklet";

        logIntoDB(databaseTable, logDetail);
    }

    function logIntoDB (application, details) {
        console.log("NewzSocial.log :", application, " , ", details);

        $.ajax({
            type: "POST",
            url: 'http://node.newzsocial.com/logger/add',
            data: {
                "application":application, 
                "details":details
            },
        });
    };
} // end of NewzSocial.LogData function


/********************* END OF JAVASCRIPT *******************************/
        </script>
    
    </body>

</html>