<!DOCTYPE html>
<html>
    <head>

        <title>NewzSocial - Pipe It!</title>
        
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
  		    $(document).ready(function (){
  		        var path = "<%= urlPath %>";
                var domain = document.domain;

          		console.log(path, domain);
          		
                if ( path == "bookmark" && (domain == "node.newzsocial.com" || domain ==  "newzsocial.com" || domain ==  "www.newzsocial.com") ) {
                    
                    console.log("1");
                    $('#production-version').show()
                    $('#local-version, #beta-version').hide();
                    $('.header-container').append('<img class="newzsocial-img" src="bookmark/images/newzsocial.png">');

                } else if ( path == "beta-Bobby" && domain == "node.newzsocial.com" ) {
                    
                    console.log("2");
                    $('#beta-version').show();
                    $('#local-version, #production-version').hide();
                    $('.header-container').append('<img class="newzsocial-img" src="beta-Bobby/images/newzsocial.png">');
          		
                } else if ( path == "beta-Bobby" && domain == "localhost" ) {
                    
                    console.log("3");
                    $('#local-version').show();
                    $('#beta-version, #production-version').hide();
                    $('.header-container').append('<img class="newzsocial-img" src="beta-Bobby/images/newzsocial.png">');
                
                } else {
                    
                    console.log("4");
                    $('body').html('local machine is not allowed to use production version');
                    $('#local-version, #beta-version, #production-version').hide();
                
                }
            });
  		
        </script>

        <style type="text/css">

            html {
                height: 100%;
            } 

            body {
                font-family: "proxima-nova", sans-serif;
                margin: 0px !important;
                height: 100%;
            }

            .header-section {
                background: #E8E6D4;
                height: 100px;
                border-bottom: 1px solid #BDBDB0;
                margin: 0 auto;
            }

            .header-container {
                line-height: 100px;
                text-align: center;
            }

            .newzsocial-img {
                vertical-align: middle;
            }

            .body-section {
                height: calc(100% - 100px);
            }

            .introduction-container {
                margin: 0px 150px 40px;
                line-height: 45px;
                border-bottom: 1px solid #ccc;
                padding: 40px 0 30px;
            }

            .title {
                display: block;
                font-size: 34px;
                font-weight: bold;
                color: #3C3C3C;
            }

            .subtitle {

                display: block;
                font-size: 16px;
                font-style: italic;
                color: #34495e;
            }

            .button-container {
                text-align: center;
                margin: 40px 150px;
                line-height: 45px;
            }

            .instruction-text {
                display: block;
                font-weight: bold;
            }

            .button {
                background-color: #39B4B1;
                /*border: 2px solid #8DC63F;*/
                border-radius: 8px;
                display: inline-block;
                width: 200px;
                height:80px;
                text-align: center;
            }

            .button > span {

                line-height: 80px;
                vertical-align: middle;
                font-size: 24px;
                text-decoration: none;
                color: #ffffff;
            }
       </style>

    </head>
    
    <body>

        <section class="header-section">

            <div class="header-container">
                
            </div>
        
        </section>

        <section class="body-section">

            <div class="introduction-container">
                <span class="title">NewzSocial Bookmarklet</span>
                <span class="subtitle">Share or curate any articles instantly</span>
            </div>
            
            <div class="button-container"> 
                
                <span class="instruction-text">Drag the button to your bookmarks bar:</span>

                <a id="local-version" title="Pipe It! (local)" href='javascript:%28function%28%29%20%7Bvar%20version%20%3D%201.0%3Bbookmarklet%28version%29%3Bfunction%20bookmarklet%20%28%20version%20%29%20%7Bf%20%3D%20%27http%3A%2F%2Flocalhost%3A10011/beta-Bobby%2Fbookmarklet%3Furl%3D%27%20%2B%20encodeURIComponent%28window.location.href%29%20%2B%20%27%26title%3D%27%20%2B%20encodeURIComponent%28document.title%29%20%2B%20%27%26domain%3D%27%20%2B%20encodeURIComponent%28document.domain%29%3Bf%20%2B%3D%20%27%26version%3D%27%20%2B%20version%3Brequest%28%29%3B%7Dfunction%20request%20%28%29%20%7Bif%20%28%21window.open%28%20f%20%2B%20%27%26noui%3D1%26jump%3Ddoclose%27%2C%27deliciousuiv6%27%2C%27location%3D0%2Clinks%3D0%2Ctoolbar%3D0%2Cwidth%3D350%2Cheight%3D250%27%29%29location.href%3Df%2B%27jump%3Dyes%27%3B%7D%7D%29%28%29'>
                    <div class="button">
                        <span>Pipe it! (local)</span>
                    </div>
                </a>
               
                <a id="beta-version" title="Pipe It! (Beta)" href='javascript:%28function%28%29%20%7Bvar%20version%20%3D%201.0%3Bbookmarklet%28version%29%3Bfunction%20bookmarklet%20%28%20version%20%29%20%7Bf%20%3D%20%27http%3A%2F%2Fnode.newzsocial.com/beta-Bobby%2Fbookmarklet%3Furl%3D%27%20%2B%20encodeURIComponent%28window.location.href%29%20%2B%20%27%26title%3D%27%20%2B%20encodeURIComponent%28document.title%29%20%2B%20%27%26domain%3D%27%20%2B%20encodeURIComponent%28document.domain%29%3Bf%20%2B%3D%20%27%26version%3D%27%20%2B%20version%3Brequest%28%29%3B%7Dfunction%20request%20%28%29%20%7Bif%20%28%21window.open%28%20f%20%2B%20%27%26noui%3D1%26jump%3Ddoclose%27%2C%27deliciousuiv6%27%2C%27location%3D0%2Clinks%3D0%2Ctoolbar%3D0%2Cwidth%3D350%2Cheight%3D250%27%29%29location.href%3Df%2B%27jump%3Dyes%27%3B%7D%7D%29%28%29'>
                    <div class="button">
                        <span>Pipe it! (Beta)</span>
                    </div>
                </a>

                <a id="production-version" title="Pipe It!" href='javascript:%28function%28%29%20%7Bvar%20version%20%3D%201.0%3Bbookmarklet%28version%29%3Bfunction%20bookmarklet%20%28%20version%20%29%20%7Bf%20%3D%20%27http%3A%2F%2Fnode.newzsocial.com/bookmark%2Fbookmarklet%3Furl%3D%27%20%2B%20encodeURIComponent%28window.location.href%29%20%2B%20%27%26title%3D%27%20%2B%20encodeURIComponent%28document.title%29%20%2B%20%27%26domain%3D%27%20%2B%20encodeURIComponent%28document.domain%29%3Bf%20%2B%3D%20%27%26version%3D%27%20%2B%20version%3Brequest%28%29%3B%7Dfunction%20request%20%28%29%20%7Bif%20%28%21window.open%28%20f%20%2B%20%27%26noui%3D1%26jump%3Ddoclose%27%2C%27deliciousuiv6%27%2C%27location%3D0%2Clinks%3D0%2Ctoolbar%3D0%2Cwidth%3D350%2Cheight%3D250%27%29%29location.href%3Df%2B%27jump%3Dyes%27%3B%7D%7D%29%28%29'>
                    <div class="button">
                        <span>Pipe it!</span>
                    </div>
                </a>

            </div>
        
        </section>

        

    </body>

</html>
