/************************************ GENERAL CSS STARTS HERE **************************************************/

body {
    padding-right:0px;
    padding-left:0px;
    font-family: "proxima-nova",sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a:hover {
    text-decoration: none;
}

.version-control-alert {
    font-size: 12px;
}

.ui-widget-header {
    background: none;
    border: none;
    background-color: #ccc;
}

.btn{

    border: 2px solid #6D6B58;
    font-weight: bold;
    color: #6D6B58;
    font-size: 14px;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    
    /* Transition */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.disabled,
.btn[disabled] {
    color: #ffffff;
    border-color: #6D6B58;
    background-color: #6D6B58;
}

.container-header {
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}
    
.container-body {
    padding: 15px;
}

.container-footer {
    padding: 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.newzsocial-logo-container {
    display: inline-block;
    line-height: 50px;
}

.newzsocial-logo{
    width: 90px;
}

.social-btn-container {
    text-align: center; 
    margin-top:10px; 
    height: 165px;
    border-bottom: 1px solid #bdbdbd;
}

.social-btn {
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F1E6);
    border: 1px solid #BDBDB0;
    border-radius: 12px;
    box-shadow: none;
    color: #959480;
    cursor: pointer;
    font-size: 20px;
    text-shadow: none;
    vertical-align: middle;
    height: 40px;
    margin-bottom: 10px;
    text-align: left;
    width: 275px;
}

.social-btn-img {
    height: 18px;
    width: 20px;
    float: left;
    margin-right: 8px;
}

.twitter-icon {
    background: url(../images/Twitter_24x18.png) no-repeat center;
}

.facebook-icon {
    background: url(../images/Facebook_10x19.png) no-repeat center;
}

.linkedin-icon {
    background: url(../images/LinkedIn_17x18.png) no-repeat center;
}


.signin-input-container {
    text-align: center; 
    margin-top:32px;

    input {
        height:25px;
        font-size:18px;
    }
}

.signup-input-container {
    text-align: center;

    input {
        height:25px;
        font-size:18px;
    }
}

.page-information {
    line-height: 50px;
    float: left;
}

.page-title {
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    margin : 0px 10px;
}

.user-information-dropdown-container {
    float: right;
    line-height: 50px;
    text-align: center;

    .user-information {
        display: inline-block;
        cursor: pointer;
        width: 70px;
    }

    .user-information:hover {
        opacity: 0.7;
        // background-color: #E8E6D4;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    img {
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
    }

    .dropdown-menu {
        left: auto;
        right: 0; 
        text-align: left;
        border-radius: 0;
    }

    .user-profile {
        cursor: default;
        padding: 3px 20px;
        display: inline-block;
    }
    
    .dropdown-menu > li > a:hover{
        background-color : #333333;
        background-image: none;
    }

    // .dropdown-menu > li > a{
    //     color : #bdc3c7
    // }

    // .dropdown-menu{
    //     background-color : #ecf0f1;
    //     border-radius : 0px;
    //     border : 1px solid #bdbdbd;
    //     -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    //     box-shadow : 7px 8px 15px -7px rgba(0, 0, 0, 1);
    // }

    .dropdown-toggle{
        color : black;
    }
}

.switch-page-link {
    font-size: 13px;
    text-align: center;
}

.article-information {
    margin: 15px 0px;
    height: 95px;

    img {
        float: left;
        margin-right: 10px;
        height: 95px;
    }

    .article-body {

        .article-title {
            margin: 5px 0px;
        }

        .article-publisher {
            font-size: 11px;
            line-height: 14px;
            margin: 0 0 5px;
            color: #999999;
        }

        .article-info {
            font-size: 11px;
            line-height: 14px;
            margin: 0 0 5px;
            color: #999999;

            .info1 {
                display: inline-block;
                // float: left;
            }

            .info2 {
                float: right;
            }
        }

        .article-abstract {
            font-size: 12px;
            line-height: 14px;
            margin: 0 0 5px;
            overflow: auto;
            color: #333333;
        }
    }
}

.facebook-style{
    color: #3B5998 !important; 
    cursor: pointer;
    font-size: 14px;
}

.linkedin-style{
    color: #069 !important;
    cursor: pointer;
    font-size: 14px;
    font-weight:lighter !important;
}

.twitter-style{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight:lighter !important;
}


/************************************** TRANSITION MESSAGE CSS (CIRCULAR ALERT) **********************************/

.alert-circle-error {
    background-color: #ef4035;
    color: #ffffff; 
}

.alert-circle-success {
    background-color: #8dc63f;
    color: #ffffff;
}

.alert-circle-notification {
    background-color: #f1c40f;
    color: #000000;
}

.circular-alert{
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 8px;
    top: 25%;
    left: 50%;
    margin-left: -98px;
    position: fixed;
    z-index: 1301;
    -moz-box-shadow:    -6px 6px 6px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: -6px 6px 6px 1px rgba(0,0,0,0.6);
    box-shadow:         -6px 6px 6px 1px rgba(0,0,0,0.6);
}

.circular-alert.fade{
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}

.circular-alert div.close{
    height: 60px;
    width: 100%;
}

.circular-alert span.alert-title{
    width: 100%;
    height: auto;
    font-size: 16pt;
    font-weight: bold;
    display: inline-block;
}

/******************************* INDIVIDUAL PAGE TEMPLATE CSS STARTS HERE  ***************************************/

.non-verified-template, .account-merging-non-verified-container {
    
    .resend-verification-btn {
        background-color: #2980B9;
        border: 1px solid #298095;
        padding: 10px; 
        color: #ffffff;
        font-weight: bold;
        margin: 10px 0px;
    }

    .resend-verification-btn:hover {
        opacity: 0.85;
    }
}


.curate-template {

    .curate-comment-section > textarea {
        box-shadow: none;
    }

    .curate-comment-section > textarea:focus {
        border: 1px solid #cccccc;
        box-shadow: none;
    }
    
    .curate-comment-tabs {
        font-weight: bold;
        position: relative;
        margin-right: 4px;
        display: inline-block;
        text-align: center;
        cursor: pointer;

        height: 24px;
        line-height: 24px;
        width: 120px;
        background-color: #e8e6d4;
        border: 1px solid #CCCCCC;
        color: #6d6b58;
        bottom: -1px;
    }

    .curate-comment-tabs.active {
        background-color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .curate-comment-box {
        border-radius:0;
        margin: 0;
        height: 4em;
        width: 98%;
    }

    .short-comment-count {
        font-weight: bold;
        color: #3498db;
        display: inline-block;
        margin: 3px 0 3px 5px;
    }

    .curate-into-text {

    }
}

.message-template {

    .message-container {
        margin: 25px 0px;
    }

    .reset-password-btn {
        background-color: #2980B9;
        border: 1px solid #298095;
        padding: 10px; 
        color: #ffffff;
        font-weight: bold;
        margin: 10px 0px;
    }

    .reset-password-btn:hover {
        opacity: 0.85;
    }
}

.signup-template, .signin-template {

    .header-tab-70 {
        display: inline-block;
        width: 60%;
        text-align: center !important;
    }

    .header-tab-30 {
        float: right;
        width: 35%;
        text-align: center;
        display: inline-block;
        position: relative;
        top: -9px;
        right: -15px;
    }

    .signin-tab {
        background-color: #39B4B1;
        border-left: 1px solid #0099CC;
        border-bottom: 1px solid #0099CC;
        padding: 14px; 
        color: #ffffff;
        font-weight: bold;
    }

    .signup-tab {
        background-color: #8DC63F;
        border-left: 1px solid #73AC25;
        border-bottom: 1px solid #73AC25;
        padding: 14px; 
        color: #ffffff;
        font-weight: bold;
    }

    .signin-btn {
        background-color: #39B4B1;
        border: 1px solid #0099CC;
        padding: 10px; 
        color: #ffffff;
        font-weight: bold;
    }

    .signin-btn:hover {
        opacity: 0.85;
    }

    .signup-btn {
        background-color: #8DC63F;
        border: 1px solid #73AC25;
        padding: 10px; 
        color: #ffffff;
        font-weight: bold;
    }

    .signup-btn:hover {
        opacity: 0.85;
    }
}

.share-template {

    .tabs-container {
        display: table;
        margin:0px;
        width:100%;

        li {
            float: left;
            display: inline-block;
            width: 25%;
            text-align: center;

            a {
                    color: #959480;
                    background-color: #E8E6D4;
                    text-decoration : none;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 48px;
                    display: block;
                    border-color: rgba(0, 0, 0, 0.3);
                    border-style: solid;
                    border-width: 0 1px 1px 0;

                    img {
                        margin-right: 8px;
                    }
            }

            a:hover {
                color: #6d6b58;
            }
        }

        .active > a {
            border-bottom-width: 0 !important;
            background-color: #ffffff;
            color: #6d6b58; 
        } 
    }

    .tabs-right {
        border-right-width: 0 !important;
    }

    .signup-body {
        height: 290px;
    }

    .signup-social > center > button {
        margin-top: 75px;
    }

    .signup-email-btn {
        margin-bottom: 10px;
        border: 1px solid #73AC25;
        background-color: #8DC63F;
        padding: 10px;
        color: #ffffff;
        font-weight: bold;
    }

    .signup-email-btn:hover {
        opacity: 0.85;
    }

    .merge-email-btn {
        margin-bottom: 10px;
        border: 1px solid #0099CC;
        background-color: #39B4B1;
        padding: 10px;
        color: #ffffff;
        font-weight: bold;
    }

    .merge-email-btn:hover {
        opacity: 0.85;
    }

    .share-options {
        height: 30px;
        width: 100%;
        margin-bottom: 10px;

        .share-type {
            float: left;
            width: 20%;
            margin-right: 5%;
        }

        .share-group, .share-page {
            float: right;
            width: 70%;
            // display: inline-block;
        }
    }

    .emailme-checkbox {
        margin-top: 10px;
    }

    .email-editor-container {

        input {
            border-radius: 0;
            width: 95%;    
        }

        textarea {
            margin: 0 10px;
        }

    }

    #email-editor_ifr {
        // height: 220px !important;
    }

    .commentbox-container {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;

        img {
            float: left;
            max-height: 85px;
            max-width: 15%;
        }

        textarea {
            border-radius: 0;
            height: 85px;
            width: 77%;
            float: left;
            margin: 0 10px;
        }

        .twitter-counter-limit {
            font-weight: bold;
            color: #3498db;
            float: right; 
            margin-top: 5px;
            margin-right: 55px;
        }
    }   

/*************************** PIPE IT MODAL TRIGGER STARTS HERE *******************************/

    .modal-pipeIt-container {
        text-align: center;
        width: 100%;
        height: auto;
        
        img {
            margin-right: 8px;
        }

        a {
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: #959480;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        a:hover, .pipeIt-active {
            background-color: #6D6B58;
        }
    }


    .pipeIt-type-selection {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        background-color: #ffffff;
        box-shadow: 0 0 10px #bdbdb0;
        -webkit-box-shadow: 0 0 10px #bdbdb0;
        -o-box-shadow: 0 0 10px #bdbdb0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .pipeIt-type-selection:hover, .pipeIt-type-selection:active {
        box-shadow: 0 0 16px 4px #696868;
        -webkit-box-shadow: 0 0 16px 4px #696868;
        -o-box-shadow: 0 0 16px 4px #696868;
    }

    .schedule-post-container {
        margin: 3% 3% 0 3%; 
    }

    .direct-post-container {
        margin: 3%;

        .text {
            border-radius: 12px 0 0 12px;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #CCCCCC;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            padding: 4px 5px;
            text-shadow: 0 1px 0 #FFFFFF;
            color: #333333;
        }

        #delay-define {
            vertical-align: middle;
            border-radius: 0px;
            color: #555555;
            width: 64px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        }

        select {
            width: auto;
            border-radius: 0 12px 12px 0;
            vertical-align: middle;
        }
    }

    .pipeIt-selection-checkbox {
        float: right;
        border-left: solid 1px #bdbdb0;
        width: 50px;
        height: 50px;
    }


/************************ PIPE IT MODAL CSS STARTS HERE ********************************/
    
    .container-show-schedule {
        #oa-image {
            float: left;
            margin-right: 10px;
        }

        #oa-schedule {
            display: inline-block;
        }
    }

    .container-set-nav-btn {
        text-align: center;

        .set-nav-btn {
            border-radius: 16px 16px 16px 16px;
            width: 28%;
            background-color: #F5F5F5;
            background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
            background-repeat: repeat-x;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
            color: #333333;
            cursor: pointer;
            display: inline-block;
            margin-top: 8px;
            margin-bottom: 0;
            padding: 4px 12px;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        }

        .set-nav-btn-active {

            background-image: none;
            background-color: #E6E6E6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
            outline: 0 none;
        }
    }



    .container-specify-schedule {
        margin: 8px;
        text-align: center;

        .text {
            border-radius: 12px 0 0 12px;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #CCCCCC;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            padding: 4px 5px;
            text-shadow: 0 1px 0 #FFFFFF;
            color: #333333;
        }

        .text.middle {
            border-radius: 0px;
        }

        input {
            vertical-align: middle;
            border-radius: 0px;
            color: #555555;
            width: 64px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        }

        select {
            width: auto;
            border-radius: 0 12px 12px 0;
            vertical-align: middle;
        }

        #container-specific-timeslots {
            input {
                width: 20px;
            }

            .middle-colon {
                vertical-align: middle;
                border: 1px solid #CCCCCC;
                display: inline-block;
                font-size: 14px;
                min-width: 16px;
                padding: 4px 5px;
                text-shadow: 0 1px 0 #FFFFFF;
                width: auto;
                color: #333333;
            }

            .timeslot-remove {
                font-size: 26px;
                font-weight: bolder;
                margin-left: 10px;
                cursor: pointer;
                vertical-align: middle;
            }
        }
    }
}

.newzsocial-action-template {

    .header-shadow  {
        box-shadow: 0 0 9px 0 #bdbdb0 !important;
    }

    .newzsocial-action {
        margin: 10px 0px;

        .btn-ccs{
            border-radius: 0;
            border:none;
            height: 100px;
            width: 100px;
            display:inline-block;
            margin: 5px;
            padding-right: 0;
            padding-left: 0;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            transition: none;
         }

        .btn-clip{
            background: #EF4035 url(../images/Clip_big.png) no-repeat center;
            background-size :36px 24px;
        }

        .btn-clip:hover{
            background: #EF4035;
            opacity: 0.85;
        }

        .btn-clip:hover:before{    
            content : "CLIP";
            color: #ffffff;
            font-size: 20px;
            font-weight: normal;
        }

        .btn-curate{
            background: #8DC63F url(../images/Curate_big.png) no-repeat center;
            background-size :36px 36px;
        }

        .btn-curate:hover{
            background: #8DC63F;
            opacity: 0.85;
        }

        .btn-curate:hover:before{   
            content : "CURATE";
            color: #ffffff;
            font-size: 20px;
            font-weight: normal;
        }

        .btn-share{
            background: #39B4B1 url(../images/Share_big.png) no-repeat center;
            background-size :36px 36px;
        }

        .btn-share:hover{   
            background :#39B4B1;
            opacity: 0.85;
        }

        .btn-share:hover:before{   
            content : "SHARE";
            color: #ffffff;
            font-size: 20px;
            font-weight: normal;
        }
    }
}



.frequency-schedule, .random-schedule {
    padding : 25px;
    text-align: center;
    font-weight: bold;
}

.specific-schedule {

}
