html {
	height: 100%;
} 

body {
	font-family: "proxima-nova", sans-serif;
	margin: 0px !important;
	height: 100%;
}

.header-section {
	background: #E8E6D4;
	height: 100px;
	border-bottom: 1px solid #BDBDB0;
	margin: 0 auto;
}

.header-container {
	line-height: 100px;
	text-align: center;
}

.newzsocial-img {
	vertical-align: middle;
}

.body-section {
	height: calc(100% - 100px);
}

.introduction-container {
	margin: 0px 150px 40px;
	line-height: 45px;
	border-bottom: 1px solid #ccc;
	padding: 40px 0 30px;
}

.title {
	display: block;
	font-size: 34px;
	font-weight: bold;
	color: #3C3C3C;
}

.subtitle {

	display: block;
	font-size: 16px;
	font-style: italic;
	color: #34495e;
}

.button-container {
	text-align: center;
	margin: 40px 150px;
	line-height: 45px;
}

.instruction-text {
	display: block;
	font-weight: bold;
}

.button {
	background-color: #39B4B1;
	/*border: 2px solid #8DC63F;*/
	border-radius: 8px;
	display: inline-block;
	width: 200px;
	height:80px;
	text-align: center;
}

.button > span {
	
	line-height: 80px;
	vertical-align: middle;
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
}