<section class="curate-template">

<link rel="stylesheet" type="text/css" href="stylesheets/imgviewer.css">

    <div class="container-header">

        <div class="page-information">
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">
            <h4 class="page-title">Curate Article</h4>
        </div>
      
        <div class="user-information-dropdown-container dropdown">

            <a class="user-information dropdown-toggle" data-toggle="dropdown">
                <img src="{{display.img}}">
            </a>

            <ul class="dropdown-menu" >
                <li><span class="user-profile" style="cursor:default;">Hello <b>{{display.userName}}</b></span></li>
                <li class="divider"></li>
                <li><a class="clickable" target="_blank" href="http://business.newzsocial.com/newzlink/mychannels">View All My Channels</a></li> 
                <li><a class="clickable" onclick="signout()">Sign Out</a></li>
            </ul>

        </div>

    </div>

    <div class="container-body">
    
        <div class="curate-comment-section">
            
            <div id="longCommentTab" class="curate-comment-tabs active">Comment</div>
            <div id="shortCommentTab" class="curate-comment-tabs">Short Version</div>
            <textarea id="curateLongComment" class="curate-comment-box" placeholder="Add a comment…" ></textarea>
            <textarea id="curateShortComment" class="curate-comment-box hide" data-state="firstTime" onkeydown="" maxlength="115" placeholder="Add a comment…" ></textarea>
            <span id="shortCommentLimit" class="short-comment-count hide"></span>

        </div>

        <span class="curate-into-text">Curate into:<span>

        <select id='channels-select' multiple="multiple" onchange="autoResize(680)">

          {{#each channels}}

            <option value='{{this.[0]}}'>{{this.[1]}}</option>

          {{/each}}

        </select>
        
        <div class="article-information">

            {{#if article.image}}

            <img class="img-polaroid" src="{{article.image}}" style="width:222px;height:150px" />

            {{else}}
                {{#if article.imgs.[1]}}    

                        <div class='imageViewer'>    
                            <div id=image>
                                <img id="myImage" src="{{article.imgs.[0]}}" style="width:222px;height:150px" />
                            </div>
                            
                            <button class="leftarrow" onclick="ChangeImageSrcPrev()"><</button>
                            <button class="rightarrow" onclick="ChangeImageSrcNext()">></button>
                        </div>
                {{else}}
                
                    {{#if pdfImg}}
                                                            
                        <img id="PDF" src="{{pdfImg}}" style="width:222px;height:210px" />
                                
                    {{/if}}        

                {{/if}}

            {{/if}}

            <div class="article-body">
                {{#if article.isPDForIMG}}

                    {{#if article.PDF}}

                        <div class="article-info">
                        {{#if article.title}}
                            <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                        {{else}}
                            <input id="title-of-pdf" type="text" placeholder="Add a title…" />
                        {{/if}}

                        <div class='info1'>{{article.publisher}}</div>
                        <div class='info2'>{{article.publishedDate}}</div>

                        {{#if article.content}}
                            <p class="article-abstract">{{article.content}}</p>
                        {{else}}
                            <textarea id="abstract" placeholder="About the Article…" rows="3" cols="20"></textarea>
                        {{/if}}

                            <input id="image-url" type="text" placeholder="Add image URL…" />
                            <button id="preview" onclick="previewImg()">Preview</button>

                        </div>

                    {{else}}

                        <div class="article-info">
                        {{#if article.title}}
                            <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                        {{else}}
                            <input id="title-of-pdf" type="text" placeholder="Add a title…" />
                        {{/if}}

                        <div class='info1'>{{article.publisher}}</div>
                        <div class='info2'>{{article.publishedDate}}</div>

                        {{#if article.content}}
                            <p class="article-abstract">{{article.content}}</p>
                        {{else}}
                            <textarea id="abstract" placeholder="About the Article…" rows="3" cols="20"></textarea>
                        {{/if}}
                        </div>
                    {{/if}}

                {{else}}
                    <h5 class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                    <p class="article-publisher">{{article.publisher}}</p>
                    <p class="article-abstract">{{article.content}}</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="container-footer">
      <button id="back-btn" class="btn" onclick="back()">BACK</button>
      <a href="#" class="btn" onclick="closeBookmarklet()">CLOSE</a>
      <!-- <a href="#" class="btn" onclick="curateArticle(true,'{{article_id}}')">CLIP AND CURATE</a> -->
      <a href="#" class="btn" onclick="curateArticle(false,'{{article_id}}')">CURATE</a>
    </div>

</section>