<section class="message-template">

    <div class='container-header'>
        <center>
        <div class="newzsocial-logo-container">
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">
        </div>
        </center>
    </div>

    {{#if reset}}

    <div class="container-body">

        <div class="reset-password-container">
            
            <center>
                <h5>Fill in your email below and we will send out a new temporary password to you</h5>
            </center>

            <div class="signup-input-container">
                <input id="reset-userEmail" type="text" placeholder="Email Address" onkeypress="enterKey(event, 'resetpassword')"><br>
                <button class="reset-password-btn" onclick="resetPassword()">Send Password</button>
            </div>

            <hr>

            <div class="switch-page-link">
                <a href="javascript:renderNewzSocialSignIn();">Sign In To NewzSocial</a>
            </div>

        </div>

    </div>

    {{else}}

    <div class='container-body'>
        
        {{#if transition}}
            <center>
                <h3 id="message" class='message'></h3>
            </center>
        {{/if}}

        {{#if searching }}
            <center>
                <div class="message-container">
                    <img src="images/loading.gif">
                    <h3>Finding Article...</h3>
                </div>
            </center>
        {{/if}}

        {{#if sharing}}
            <center>
                <div class="message-container">
                    <img src="images/loading.gif">
                    <h3>Sharing Article...</h3>
                </div>
            </center>
        {{/if}}

    </div>

    {{/if}}

</section>