<section class="newzsocial-action-template">

    <div class="container-header header-shadow">

        <div class="newzsocial-logo-container">
            <img class="newzsocial-logo" src="images/newzsocial.png" alt="newzsocial">
        </div>

        <div class="user-information-dropdown-container dropdown">

            <a class="user-information dropdown-toggle" data-toggle="dropdown">
                <img src="{{display.img}}">
            </a>

            <ul class="dropdown-menu" >
                <li><span class="user-profile" style="cursor:default;">Hello <b>{{display.userName}}</b></span></li>
                <li class="divider"></li>
                <li><a class="clickable" target="_blank" href="http://business.newzsocial.com/newzlink/mychannels">View All My Channels</a></li> 
                <li><a class="clickable" onclick="signout()">Sign Out</a></li>
            </ul>

        </div>

    </div>

    <div class="container-body">

        <center class="newzsocial-action">
            <!-- <button type="button" class="btn-ccs btn-clip" onclick="clip('{{article_id}}')"></button> -->
            <button type="button" class="btn-ccs btn-curate" onclick="curate('{{article_id}}')"></button>
            <button type="button" class="btn-ccs btn-share" onclick="share('default','{{article_id}}')"></button>
        </center>
      
    </div>

</section>

