<section class="non-verified-template">

    <div class="container-header">
        <center>
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">  
        </center>
    </div>

    <div class="container-body">

    {{#if newAccount}}

        <center>
            <h4>Your NewzSocial account has been created!</h4>
            <h5>Please verify your account through an email that we just sent you!</h5>
        </center>

    {{else}}

        <center>
            <h4>Your account has not been verified.</h4>
            <h5>Please verify your account through an email that we've sent you.</h5>
        </center>

    {{/if}}

        <div class="switch-page-link">
            <button class="resend-verification-btn" onclick="resendEmailVerification( '{{ userEmail }}' )">Resend Verification Email</button>
        </div>

        <hr>

        <div class="switch-page-link">
            <a href="javascript:renderNewzSocialSignIn();">Sign In To NewzSocial</a>
        </div>

    </div>

</section>