<section class="share-template">

    <script type="text/javascript" src="js/activity.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/imgviewer.css">

    <div class="navigation-tabs-container">
        <ul class="tabs-container">
            <li id="tab-facebook" class="tab-left"><a href="javascript:share('facebook')"><img src="http://betapp.newzsocial.com/newzlink/images/Facebook_greycircle_ON_24x24.png" class="hide tab-icon-on" alt=""/><img src="http://betapp.newzsocial.com/newzlink/images/Facebook_greycircle_24x24.png" class="tab-icon-off hide" alt=""/>Facebook</a></li>
            
            <li id="tab-linkedin" class="tab-middle"><a href="javascript:share('linkedin')"><img src="http://betapp.newzsocial.com/newzlink/images/LinkedIn_greycircle_ON_24x24.png" class="hide tab-icon-on"/><img src="http://betapp.newzsocial.com/newzlink/images/LinkedIn_greycircle_24x24.png" class="tab-icon-off"/>LinkedIn</a></li>
            
            <li id="tab-twitter" class="tab-middle"><a href="javascript:share('twitter')"><img src="http://betapp.newzsocial.com/newzlink/images/Twitter_greycircle_ON_24x24.png" class="hide tab-icon-on" alt=""/><img src="http://betapp.newzsocial.com/newzlink/images/Twitter_greycircle_24x24.png" class="tab-icon-off" alt=""/>Twitter</a></li>
            
            <li id="tab-email" class="tab-right"><a href="javascript:share('email')"><img src="http://betapp.newzsocial.com/newzlink/images/Email_greycircle_ON_24x24.png" class="hide tab-icon-on" alt=""/><img src="http://betapp.newzsocial.com/newzlink/images/Email_greycircle_24x24.png"  class="tab-icon-off" alt=""/>Email</a></li>
        </ul>
    </div>

    {{#if signUp}}

    <div class='signup-container'>

        <div class="container-header">

            <div class="page-information">
                <img class="newzsocial-logo" src="images/newzsocial.png" alt="newzsocial">
            </div>
            
            <div class="user-information-dropdown-container dropdown">

                <a class="user-information dropdown-toggle" data-toggle="dropdown">
                    <img src="{{display.img}}">
                </a>

                <ul class="dropdown-menu" >
                    <li><span class="user-profile" style="cursor:default;">Hello <b>{{display.userName}}</b></span></li>
                    <li class="divider"></li>
                    <li><a class="clickable" target="_blank" href="http://business.newzsocial.com/newzlink/mychannels">View All My Channels</a></li> 
                    <li><a class="clickable" onclick="signout()">Sign Out</a></li>
                </ul>

            </div>

        </div>

        <div class='container-body signup-body'>

            {{#if email}}

            <div class="signup-email">

                    <center><h4>You Do Not Have A NewzSocial Email Profile</h4></center>

                    <div class="signup-input-container">
                        <!-- Email signup field -->  
                        <input id="userName" type="text" placeholder="Username" onkeypress="enterKey(event, 'signupmerge')"><br>  
                        <input id="userEmail" type="text" placeholder="Email Address" onkeypress="enterKey(event, 'signupmerge')"><br> 
                        <input id="userPwd" type="password" placeholder="Password" onkeypress="enterKey(event, 'signupmerge')"><br>
                        <input id="userConfirmationPwd" type="password" placeholder="Password Confirmation" onkeypress="enterKey(event, 'signupmerge')"><br>
                        <button class="signup-email-btn" onclick="signUp(true)">Sign Up Now!</button>

                    </div>

                    <div class="switch-page-link">
                        <a href="javascript:switchMergingPage(true);">Already have a NewzSocial account? (Merge)</a>
                    </div>

            </div>

            <div class="account-merging-container hide">
                
                <center>
                    <h4>Please Sign In Using Your NewzSocial Email Account Before Merging With Your Social Media Profiles</h4>
                    <h5>You can merge all your Social Media profiles into one account</h5>
                </center>

                <div class="signin-input-container">
                    <!-- Email signin field -->  
                    <input name="userEmail" id="userEmail-signin" type="text" placeholder="Email" onkeypress="enterKey(event, 'merge')"><br> 
                    <input name="userPwd" id="userPwd-signin" type="password" placeholder="Password" onkeypress="enterKey(event, 'merge')"><br>
                    <button class="merge-email-btn" onclick="mergeSocialMediaProfiles()">Merge Now!</button>

                </div>

                <div class="switch-page-link">
                    <a href="javascript:switchMergingPage(false);">Create a NewzSocial account</a>
                </div>

            </div>

            <div class="account-merging-non-verified-container hide">

                <center>
                  <h4>Your NewzSocial Account Has Not Been Verified</h4>
                  <h5>Please verify your account through an email that we've sent you!</h5><br>
                </center>

                <div class="switch-page-link">
                    <button id="resendEmail" class="resend-verification-btn">Resend Verification Email</button>
                </div>

                <div class="switch-page-link">
                    <a href="javascript:switchMergingPage(false);">Create a NewzSocial account</a>
                </div>

                <div class="switch-page-link">
                    <a href="javascript:switchMergingPage(true);">Merge another NewzSocial account</a>
                </div>
                
            </div>

            {{else}}
            
            <div class="signup-social">

                <center><h4>You Do Not Have A <span id="share-pipe-title">{{title}}</span> Profile Enabled For NewzSocial</h4></center>
              
                {{#if facebook}}
                    <center><button  class="social-btn" onclick="NAS.fbSignIn(fbCallBack);return false;"><span class="social-btn-img facebook-icon"></span>Sign Up With Facebook</button></center>
                {{/if}}

                {{#if linkedin}}
                    <center><button class="social-btn" onclick="NAS.lnSignIn(linkCallBack);return false;"><span class="social-btn-img linkedin-icon"></span>Sign Up With LinkedIn</button></center>
                {{/if}}

                {{#if twitter}}
                    <center><button class="social-btn" onclick="NAS.twtSignIn(twtCallBack);return false;"><span class="social-btn-img twitter-icon"></span>Sign Up With Twitter</button></center>
                {{/if}}

            </div>
    
            {{/if}}

        </div>
      
        <div class='container-footer'>
            <a href="#" class="btn" onclick="closeBookmarklet()">CLOSE</a>
        </div>
      
    </div>

    {{else}}

    <div class="share-container">
        
        <div class="container-header">

            <div class="page-information">
                <img class="newzsocial-logo" src="images/newzsocial.png" alt="newzsocial">
                <h4 class="page-title">Share Article <span id="share-pipe-title">{{sharePipe.title}}</span></h4>
            </div>

            <div class="user-information-dropdown-container dropdown">

                <a class="user-information dropdown-toggle" data-toggle="dropdown">
                    <img src="{{display.img}}">
                </a>

                <ul class="dropdown-menu" >
                    <li><span class="user-profile" style="cursor:default;">Hello <b>{{display.userName}}</b></span></li>
                    <li class="divider"></li>
                    <li><a class="clickable" target="_blank" href="http://business.newzsocial.com/newzlink/mychannels">View All My Channels</a></li> 
                    <li><a class="clickable" onclick="signout()">Sign Out</a></li>
                </ul>

            </div>
      
        </div>
        
        {{#if isEmail}}

        <div class="container-body">

            <!-- {{#if isVerified}} -->

          <!--   <div class="account-merging-non-verified-container hide">

                <center>
                  <h4>Your NewzSocial Account Has Not Been Verified</h4>
                  <h5>Please verify your account through an email that we've sent you!</h5><br>
                </center>

                <div class="switch-page-link">
                    <button id="resendEmail" class="resend-verification-btn" onclick="resendEmailVerification({{display.displayEmail}})">Resend Verification Email</button>
                </div>
                
            </div> -->

            <!-- {{else}} -->

            <div>
                <p>From: {{display.displayEmail}}</p>
                <!-- <p>From: ihelp@newzsocial.com </p> -->
                <input type="text" id="emailInput" onchange="autoResize(680)" placeholder="Please enter email">

                <div class="emailme-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" id="emailMe"> Email me a copy too!
                    </label> 
                </div>
            </div>

            <div class="email-editor-container">

                <input id="emailSubject" type="text"/>

                <textarea id="email-editor">

                    <div style='padding: 8px 0;'>
                    &quotI am sharing an interesting article, <i><b> {{article.title}} </b></i> and thought you might enjoy reading it.&quot - {{display.userName}}
                    </div>      

                    <div style='padding-top:1em; border-top:1px solid #6D6B58;'></div>

                </textarea>
                
                    <div id="imageDisplay">
                        {{#if article.image}}

                            <div style='max-width:200px; float:left; margin-right:1em;'>
                            <img class="article-image" src='{{article.image}}' style="width:222px;height:150px" />
                            </div>

                        {{else}}
                            {{#if article.imgs.[1]}}

                            <div class='imageViewer'>    
                                <div id=image>
                                <img id="myImage" src="{{article.imgs.[0]}}" style="width:222px;height:190px" />
                                </div>

                                <button class="leftarrow" onclick="ChangeImageSrcPrev()"><</button>
                                <button class="rightarrow" onclick="ChangeImageSrcNext()">></button>
                            </div>

                            {{else}}
                                {{#if pdfImg}} 
                        
                                <img id="PDF" src="{{pdfImg}}" style="width:222px;height:210px" />
                            
                                {{/if}}


                            {{/if}}

                        {{/if}}
                    </div>

                    <div class="article-body">
                    {{#if article.isPDForIMG}}

                        {{#if article.PDF}}

                        <div class="article-info">

                            {{#if article.title}}
                                <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                            {{else}}
                                <input id="title-of-pdf" class="email-share-params" type="text" placeholder="Add a title…" />
                            {{/if}}

                            <div class='info1-email'>{{article.publisher}}</div>
                            <div class='info2-email'>{{article.publishedDate}}</div>
                        
                            {{#if article.content}}
                                <p class="article-abstract-email">{{article.content}}</p>
                            {{else}}
                                <textarea id="abstract" class="email-share-params" placeholder="About the Article…" rows="3" cols="20"></textarea>
                            {{/if}}

                                <input id="image-url" class="email-share-params" type="text" placeholder="Add image URL…" />
                                <button id="preview" class="btn-email-param" onclick="previewImg()">Preview</button>
                        </div>

                    {{else}}

                        <div class="article-info">
                           
                            <input id="title-of-pdf" class="img-params" type="text" placeholder="Add a title…" />
                            

                            <div class='info1-img'>{{article.publisher}}</div>
                            <div class='info2-img'>{{article.publishedDate}}</div>

                            {{#if article.content}}
                                <p class="article-abstract-img">{{article.content}}</p>
                            {{else}}
                                <textarea id="abstract" class="img-params" placeholder="About the Article…" rows="3" cols="20"></textarea>
                            {{/if}}

                        </div>

                    {{/if}}

                {{else}}
                     
                        <div class="article-info">   
                            <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>

                            <div class='info1'>{{article.publisher}}</div>
                            <div class='info2'>{{article.publishedDate}}</div>
                    
                            <div style='clear: right;'></div>

                            <div id="content" class="article-abstract">{{article.content}}</div>
                        </div>

                {{/if}}
            
            </div>

            <!-- {{/if}} -->

        </div>

        {{else}}

        <div class="container-body">

            {{#if shareTypes}}
                
            <div class="share-options">

                <select id="share-type-select" class="share-type" onchange="changePlatformType('{{sharePipe.pipe}}')">
                    
                    {{#each shareTypes}}
                    
                    <option value="{{type}}">{{label}}</option>
                    
                    {{/each}}
                
                </select>  
                
                <select id='share-group-select' class="share-group hide" onchange="checkOaData('{{sharePipe.pipe}}')" placeholder="- Please Select a Group -">

                    <option></option> 

                    {{#each groups}}

                    <option value='{{oaGroupId}}'>{{oaGroupName}}</option>

                    {{/each}}
                    
                </select>
            
                <select id='share-page-select' class="share-page hide" onchange="checkOaData('{{sharePipe.pipe}}')" placeholder="- Please Select a Page -">

                    <option></option>

                    {{#each pages}}

                    <option value='{{oaPageId}}'>{{oaPageName}}</option>

                    {{/each}}

                </select>

            </div>

            {{/if}}  

            <div class="commentbox-container">

                <img class="img-polaroid" src="{{profile.image}}">
                <textarea id="share-user-comment" placeholder="Add a comment…" onkeyup="countWords('{{sharePipe.pipe}}')"></textarea>
                <span id="share-comment-count" class="twitter-counter-limit"></span>

            </div>

            <div class="article-information">

                        {{#if article.image}}

                        <img id="image" class="img-polaroid" src="{{article.image}}" onerror="errorFunc()" style="width:222px;height:150px" />

                        {{else}}
                        
                            {{#if article.imgs.[1]}}
                            <div class='imageViewer'>    
                                <div id='image'>
                                    <img id="myImage" src="{{article.imgs.[0]}}" style="width:222px;height:190px" onerror="errorFunc()" />
                                </div>
                            
                                <button class="leftarrow" onclick="ChangeImageSrcPrev()"><</button>
                                <button class="rightarrow" onclick="ChangeImageSrcNext()">></button>
                            </div>

                            {{else}}
                                {{#if pdfImg}}
                                    
                                <img id="PDF" src="{{pdfImg}}" style="width:222px;height:210px" />

                                {{/if}}

                            {{/if}}

                        {{/if}}

                        <div class="article-body">

                {{#if article.isPDForIMG}}

                    {{#if article.PDF}}

                        <div class="article-info">
                        
                            {{#if article.title}}
                                <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                            {{else}}
                                <input id="title-of-pdf" type="text" placeholder="Add a title…" />
                            {{/if}}

                            <div class='info1'>{{article.publisher}}</div>
                            <div class='info2'>{{article.publishedDate}}</div>
                        
                            {{#if article.content}}
                                <p class="article-abstract">{{article.content}}</p>
                            {{else}}
                                <textarea id="abstract" placeholder="About the Article…" rows="3" cols="20"></textarea>
                            {{/if}}

                            <input id="image-url" type="text" placeholder="Add image URL…" size="15" />
                            <button id="preview" onclick="previewImg()">Preview</button>
                
                        </div>

                    {{else}}

                        <div class="article-info">
                        {{#if article.title}}
                            <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>
                        {{else}}
                            <input id="title-of-pdf" type="text" placeholder="Add a title…" />
                        {{/if}}

                        <div class='info1'>{{article.publisher}}</div>
                        <div class='info2'>{{article.publishedDate}}</div>

                        {{#if article.content}}
                            <p class="article-abstract">{{article.content}}</p>
                        {{else}}
                            <textarea id="abstract" placeholder="About the Article…" rows="3" cols="20"></textarea>
                        {{/if}}
                        </div>
                    {{/if}}

                           

                {{else}}

                    <div class="article-info">
                    <h5 id="title" class="article-title"><a target="_blank" href="{{article.url}}">{{article.title}}</a></h5>

                    <div class='info1'>{{article.publisher}}</div>
                    <div class='info2'>{{article.publishedDate}}</div>
                    
                    <div style='clear: right;'></div>

                    <div id="content" class="article-abstract">{{article.content}}</div>
                    </div>
                {{/if}}
                </div>
            
            </div>
        
        </div>  

            
        {{/if}}

        <div class="container-footer">

            <button id="back-btn" class="btn" onclick="back()">BACK</button>
            <button class="btn" onclick="closeBookmarklet()">CLOSE</button>
            <button id="shareButton" class="btn hide" onclick="shareArticle('{{sharePipe.pipe}}')">SHARE</button>
            <button id="shareButton-twt" class="btn hide" onclick="shareArticle('{{sharePipe.pipe}}')">TWEET</button>
            <button id="shareButton-email" class="btn hide" onclick="shareArticle('{{sharePipe.pipe}}')">SEND</button>
            <button id="pipeButton" class="btn hide" onclick="pipeArticle()">SHARE</button>
        
        </div>
    
    </div>

    {{/if}}

</section>