<section class="signin-template">

    <div class="container-header">

        <center>
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">  
        </center>
       
        <!-- <div class="header-tab-70">
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial"> 
        </div>

        <div class="header-tab-30">
            <div class="signin-tab ">Sign In</div>
        </div> -->

    </div>
  
    <div class="container-body">

        <div class="social-btn-container">

            <button class="social-btn" onclick="NAS.lnSignIn(linkCallBack);return false;"><span class="social-btn-img linkedin-icon"></span>Sign In With LinkedIn</button>

            <button class="social-btn" onclick="NAS.fbSignIn(fbCallBack);return false;"><span class="social-btn-img facebook-icon"></span>Sign In With Facebook</button>

            <button class="social-btn" onclick="NAS.twtSignIn(twtCallBack);return false;"><span class="social-btn-img twitter-icon"></span>Sign In With Twitter</button>

        </div>

        <div class="signin-input-container">
          <!-- Email signin field -->  
            <input name="userEmail" id="userEmail" type="text" placeholder="Email" onkeypress="enterKey(event, 'signin')"><br> 
            <input name="userPwd" id="userPwd" type="password" placeholder="Password" onkeypress="enterKey(event, 'signin')"><br>
            <button class="signin-btn" onclick="signIn()">Sign In</button>
        
        </div>

        <hr>

        <div class="switch-page-link">
            <a href="javascript:renderNewzSocialSignUp();">Create Account</a> | <a href="javascript:renderNewzSocialMessage('reset');">Forgot Password?</a>
        </div>

    </div>

</section>