<section class="signup-template">

    <div class="container-header">

        <center>
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">  
        </center>

        <!-- <div class="header-tab-70">
            <img class='newzsocial-logo' src="images/newzsocial.png" alt="newzsocial">  
        </div>

        <div class="header-tab-30">
            <div class="signup-tab">Sign Up</div>  
        </div> -->

    </div>

    <div class="container-body">

        <div class="signup-input-container">
        <!-- Email signup field -->  
            <input id="userName" type="text" placeholder="Username" onkeypress="enterKey(event, 'signup')">
            <input id="userEmail" type="text" placeholder="Email Address" onkeypress="enterKey(event, 'signup')">
            <input id="userPwd" type="password" placeholder="Password" onkeypress="enterKey(event, 'signup')">
            <input id="userConfirmationPwd" type="password" placeholder="Password Confirmation" onkeypress="enterKey(event, 'signup')"><br>
            <button class="signup-btn" onclick="signUp()">Sign Up Now!</button>
        </div>

        <hr>

        <div class="switch-page-link">
            <a href="javascript:renderNewzSocialSignIn();">Sign In To NewzSocial</a>
        </div>

    </div>

<!--     <div class="container-footer">
        <a href="#" class="btn" onclick="closeBookmarklet()">CLOSE</a>
        <a href="#" class="btn" onclick="signUp()">SIGN UP</a>
    </div> -->

</section>
